.Map{
    height: 70vh;
    padding: 1rem;
    margin: 15px;
    background-color: white;
    box-shadow: 0 0 8px -4px rgba(0 ,0 ,0, 0.5);
    border-radius: 20px;
}
.Map .leaflet-container{
    height: 100%;
}